.blue-outlined-container {
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

#title{
    text-align: center;
}

.health_container {
    max-width: 600px; /* Limit the container width */
    margin: 20px auto; /* Center the container */
}

.card {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .card:hover {
        transform: translateY(-10px);
    }

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.btn-light {
    background-color: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

    .btn-light:hover {
        background-color: #f0f0f0;
    }
