{% if user.is_authenticated %}
<div class="navbar-user-actions">
    <span class="navbar-user-greeting">Hello {{ user.username|upper }}!</span>
    <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-logoff-form">
        {% csrf_token %}
        <button type="submit" class="navbar-logoff-button">Log Off</button>
    </form>
</div>
{% else %}
<div class="navbar-user-actions">
    <a href="{% url 'login' %}" class="navbar-logoff-button">Log In</a>
</div>
{% endif %}

<style>
.navbar-logoff-button:hover {
    background-color: #0056b3; /* Darker shade for hover */
    border-color: #333333; /* Darker outline on hover */
}
</style>