{% extends 'app/base.html' %}
{% load static %}

{% block title %}Employee List{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'app/content/employee/employee_list.css' %}">
<script src="{% static 'app/scripts/search.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Employee List</h1>
    <a class="add-employee-btn" href="{% url 'employee_create' %}">Add New Employee</a>

    <div style="margin-bottom: 20px; text-align: left;">
        <input type="search" data-search="employeeTableBody"
               placeholder="Search employees by name..."
               style="width: 100%; max-width: 300px; padding: 10px; font-size: 1rem; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); transition: border-color 0.3s ease; outline: none;">
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="employeeTableBody">
            {% for employee in employees %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a class="employee-link" href="{% url 'employee_detail' employee.pk %}">{{ employee.first_name }} {{ employee.last_name }}</a>
                </td>
                <td>{{ employee.position|title }}</td>
                <td>{{ employee.email|title }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm" style="text-decoration: none;" href="{% url 'employee_update' employee.pk %}">Edit</a>
                    <form method="post" action="{% url 'employee_delete' employee.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <a class="btn btn-danger btn-sm" style="text-decoration: none;" href="{% url 'employee_delete' employee.pk %}">Delete</a>
                    </form>
                    <a class="btn btn-secondary btn-sm" style="text-decoration: none;" href="{% url 'employee_detail' employee.pk %}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
