.maintenance_container {
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

.btn-secondary {
    display: inline-block; /* Inline-block to keep it to the left */
    width: 150px; /* Fixed width */
    margin-bottom: 20px; /* Margin only at the bottom */
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #6c757d; /* Small outline */
    text-decoration: none; /* Remove underline */
    color: white;
    background-color: #6c757d;
    transition: background-color 0.2s, border-color 0.2s;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #5a6268; /* Change outline color on hover */
        padding: 7px 15px;
        transition: background-color 0.2s, border-color 0.2s, padding 0.2s; /* Add smoothness to transition */
    }
