/* Container styles */
.container {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
}

    /* Heading styles */
    .container h1,
    .container h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

/* Form styles */
#assign-equipment-form {
    margin-bottom: 30px;
}

    #assign-equipment-form .btn {
        padding: 12px 25px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        font-size: 1rem;
        border: none;
    }

    #assign-equipment-form .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

        #assign-equipment-form .btn-primary:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }

/* Table styles */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

    .table .thead-dark th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
    }

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

/* List styles */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/* Button styles */
.btn {
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    border: none;
    margin: 10px; /* Add margin to create a gap between buttons */
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
    }

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        transform: translateY(-2px);
    }
